dist
node_modules
.gitignore
*.
*.bin
*.lock
tests/**/.cache
tests/**/dist
tests/**/node_modules
tests/**/native
tests/**/package-lock.json
tests/**/test
tests/**/karma.conf.json
.vs
.vscode
.vstags
.vagrant