dist
node_modules
.gitignore
*.
*.bin
*.lock
test/**/.cache
test/**/dist
test/**/node_modules
test/**/native
test/**/package-lock.json
test/**/test
test/**/karma.conf.json
.vs
.vstags
.vagrant
.nyc_output